name: Postman API Tests

on: [push]

jobs:
  postman-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '16'
      - name: Install Postman
        run: npm install -g newman
      - name: Postman run
        run: newman run ./api_postman/api_postman.postman_collection.json --globals ./api_postman/api_postman.postman_globals.json
        # uses: matt-ball/newman-action@master
        # with:
        #   globals: ./api_postman/api_postman.postman_globals.json
        #   collection: ./api_postman/api_postman.postman_collection.json
